:root {
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --body-font: 'Roboto', sans-serif;
  --heading-font: 'Anek Telugu', sans-serif;

  --h1-size: 94px;
  --h1-line-height: 108px;
  --h2-size: 50px;
  --h2-line-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6--size: 22px;
  --subtitle-size: 17px;
  --subtitle-line-height: 26px;
  --p-size: 18px;
  --p--line-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-line-height: 18px;
  --button-size: 16px;

  --main-color-dark: #6962f7;
  --main-color-light: #7000ff;
  --secondary-color-light: #00d4ff;
  --primary-button-hover: #6d7a88;
  --bg-white: #fff;
  --bg-light: #f7f9f1;
  --primary-accent: #0a2540;
  --primary-gradient: linear-gradient(
    101.33deg,
    #08209a 0.76%,
    #6563ff 33.33%,
    #36c5f0 76.92%,
    #83e2ff 96.96%
  );

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --standard-width: 1144px;
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-size);
  font-weight: 600;
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
  line-height: var(--h1-line-height);
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  font-weight: 600;
  margin: 0;
  width: 100%;
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-size: var(--h4-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}

h5 {
  font-family: var(--heading-font);
  font-size: var(--h5-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--main-color-dark);
  font-weight: 500;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

p {
  font-size: var(--p-size);
  line-height: var(--p--line-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

.subtitle,
.another-subtitle {
  color: var(--main-color-dark);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-line-height);
}

.another-subtitle {
  color: var(--secondary-color-light);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-line-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
}

.primary-button {
  background-color: var(--primary-accent);
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all 0.25s ease;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
  cursor: pointer;
}

.secondary-button {
  background-color: transparent;
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: var(--primary-accent);
  transition: all 0.25s ease;
}

.secondary-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-icon > img {
  transition: transform 0.25s ease;
}
.with-icon:hover > img {
  transform: translateX(4px);
}

.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
  height: 50px;
  margin: 0 0 var(--spacing-sm) 0;
}
.card h3 {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
  margin: 0 0 var(--spacing-xl) 0;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-button {
  background-color: rgba(250, 250, 250, 0.25);
}

.navbar-button:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

main {
  margin: var(--spacing-xl) 0 0 0;
  width: 100%;
}

.button-container {
  display: flex;
  margin: var(--spacing-md) 0;
}

.button-container button:nth-of-type(2) {
  margin: 0 0 0 var(--spacing-md);
  color: var(--main-color-light);
}

#gradient-canvas {
  width: 200%;
  height: 970px;
  position: absolute;
  top: -600px;
  left: -50%;
  transform: rotate(-10deg);
  z-index: -1;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #4f27ff;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero p {
  max-width: 480px;
}

.hero .hero-phone-container {
  height: 564px;
  align-items: flex-end;
}

.hero .hero-phone {
  height: 628px;
  transform: translate(32px, -32px);
}

.partners {
  width: 100%;
  display: flex;
  justify-content: center;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-xl) 0;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

.partners-grid img {
  height: 60px;
  place-self: center;
}

.unified-platform {
  padding: var(--spacing-xl) 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
}

.unified-platform .primary-button {
  background-color: var(--main-color-dark);
  margin: var(--spacing-md) 0;
}

.unified-platform .primary-button:hover {
  background-color: var(--primary-accent);
}

.unified-platform h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.graphic {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
  margin: 0 0 var(--spacing-xl) 0;
}

.graphic-grid {
  display: grid;
  grid-template-areas:
    'credit-card slack-invoice slack-invoice'
    'phone slack-invoice slack-invoice'
    'phone dash dash';
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}

#credit-card {
  grid-area: credit-card;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#slack-invoice {
  grid-area: slack-invoice;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

.integrations {
  color: var(--text-light);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0;
  z-index: 1;
}

.integrations::before {
  content: '';
  background-color: var(--primary-accent);
  width: 100%;
  height: 1100px;
  position: absolute;
  z-index: -1;
  transform: skewY(-10deg);
  top: -32px;
  left: 0;
}

.integrations::after {
  content: '';
  background-color: var(--bg-light);
  width: 100%;
  height: 50%;
  position: absolute;
  top: -70px;
  left: 0;
  z-index: -2;
}

.integrations .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.integrations .card-container .card {
  width: 50%;
}

.integrations .primary-button {
  background-color: var(--secondary-color-light);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}

.integrations .primary-button:hover {
  background-color: var(--bg-white);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}

.integrations .secondary-button {
  color: var(--secondary-color-light);
}

#api-code {
  max-width: 470px;
  margin: 0 0 var(--spacing-md) 0;
  border-radius: 20px;
}

#terminal-code {
  max-width: 470px;
  border-radius: 20px;
}

.why-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 3) 0;
}

.why-swipe .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.why-swipe .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
  box-sizing: border-box;
}

.why-swipe .card-container .card p {
  color: var(--text-dark);
}

.global {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding: calc(var(--spacing-xl) * 3) 0 0 0;
}

.global::before {
  content: '';
  width: 100%;
  height: 1200px;
  background-color: var(--primary-accent);
  position: absolute;
  top: -32px;
  left: 0;
  transform: skewY(-10deg);
  z-index: -1;
}

.global a {
  color: var(--secondary-color-light);
}

.global a:hover {
  color: var(--text-light);
  padding: var();
}

.global .card-container {
  display: flex;
  margin: calc(var(--spacing-xl) * 2) 0;
}

.global .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.global .card-container .card h3 {
  border-left: 2px var(--secondary-color-light) solid;
  padding: 0 0 0 var(--spacing-sm);
  line-height: 28px;
}

#globe {
  max-width: 844px;
  opacity: 25%;
  position: absolute;
  top: 10%;
}

.sessions {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(var(--spacing-xl) * 2) 0;
  position: relative;
}

.sessions::before {
  content: '';
  background-color: var(--bg-white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.sessions .col-left {
  height: 446px;
  padding: 0 var(--spacing-xl) 0 0;
}

.sessions .primary-button {
  background-color: var(--main-color-dark);
  margin: var(--spacing-md) 0 0 0;
}

.sessions .primary-button:hover {
  background-color: var(--primary-accent);
}

.sessions-card {
  width: 540px;
  height: 446px;
  box-shadow: var(--standard-box-shadow);
  border-radius: 20px;
  overflow: hidden;
}

.sessions-card .card-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sessions-card .card-top::before {
  background: var(--primary-gradient);
  content: '';
  width: 100%;
  height: 150%;
  position: absolute;
  transform: skewY(-5deg);
  top: -40%;
  z-index: 1;
}

#sessions-logo {
  z-index: 2;
  width: 338px;
}

.sessions .avatars {
  position: absolute;
  bottom: -70px;
  left: var(--spacing-xl);
  z-index: 3;
}

.sessions .avatars img {
  width: 80px;
}

.sessions .avatars img:nth-of-type(2) {
  position: absolute;
  left: 55px;
}

.sessions-card .card-bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: var(--spacing-xl);
}

.sessions-card .subtitle {
  margin: var(--spacing-lg) 0 0 0;
}

.sessions-card .card-bottom .secondary-text {
  color: var(--text-dark);
  width: 50%;
  font-weight: 700;
}

.get-started {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 calc(var(--spacing-xl) * 2) 0;
}

.get-started .col-right {
  flex-direction: row;
}

.get-started .col-right .card {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.get-started .col-right .card .secondary-button {
  color: var(--main-color-light);
  padding-left: 0;
}

.get-started .primary-button {
  background-color: var(--main-color-dark);
  margin: var(--spacing-md) 0;
}

.get-started .primary-button:hover {
  background-color: var(--primary-accent);
}

.get-started .col-left {
  padding: 0 var(--spacing-xl) 0 0;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
  padding: var(--spacing-xl) 0 0;
}

.footer .section-container {
  display: flex;
}

#footer-logo {
  max-width: 108px;
  margin: 0 0 var(--spacing-md);
}

.footer .col {
  width: 25%;
}

.footer .col ul {
  list-style: none;
  padding: 0;
}

.footer .col ul li {
  margin: var(--spacing-md) 0;
}

.footer .col a {
  color: var(--text-dark);
  font-weight: normal;
}

.footer .col a:hover {
  color: var(--main-color-dark);
  text-decoration: underline;
}

.footer .icon-link {
  display: flex;
  align-items: center;
  margin: var(--spacing-md) 0;
}

.footer .icon-link img {
  width: 24px;
  margin: 0 var(--spacing-sm) 0 0;
}

.footer h3 {
  font-size: var(--h6--size);
  font-weight: 700;
}
